/*流星雨效果*/
.m-meteorShower{width:100%;height:100%; position: absolute;}
.m-meteorShower .star{display:block;position:absolute;width:46px;height:46px;background:url(/mtsee/app/public/effect/movestar/meteor.png);-webkit-animation:star 1s linear infinite}
.m-meteorShower .star.style1{width:20px;height:20px;background-position:0 -137px}
.m-meteorShower .star.style2{width:43px;height:43px;background-position:-20px -137px}
.m-meteorShower .star.style3{width:42px;height:42px;background-position:-63px -137px}
.m-meteorShower .star.style4{width:50px;height:50px;background-position:-105px -137px}
.m-meteorShower .meteor{display:block;position:absolute;width:255px;height:50px;background:url(/mtsee/app/public/effect/movestar/meteor.png);-webkit-animation:meteor 1s linear infinite}
.m-meteorShower .meteor.style1{width:100px;height:20px;background-position:0 0}
.m-meteorShower .meteor.style2{width:150px;height:29px;background-position:0 -20px}
.m-meteorShower .meteor.style3{width:200px;height:39px;background-position:0 -49px}
.m-meteorShower .meteor.style4{width:256px;height:50px;background-position:0 -88px}

@-webkit-keyframes star{
	0%{opacity:0;-webkit-transform:scale(0.5)}
	60%{opacity:1;-webkit-transform:scale(1)}
	100%{opacity:0;-webkit-transform:scale(0.5)}
}
@-webkit-keyframes meteor{
	0%{opacity:0;-webkit-transform:rotate(40deg) translateX(0px) scale(0.2)}
	20%{opacity:.7}
	80%{opacity:1}
	100%{opacity:0;-webkit-transform:rotate(40deg) translateX(500px) scale(1)}
}

/*云 特效*/
.m-animationCloudBg{height:100%;position:relative;top:0;bottom:0;left:0;right:0;z-index:0;overflow:hidden}
.m-animationCloudBg i{width:640px;height:300px;display:block;position:absolute;opacity:0;z-index:0!important}
.m-animationCloudBg i:nth-child(1){background:url(images/cloud1.png);top:50px;left:-100px;-webkit-animation:animationCloudBg 1s linear infinite;-webkit-animation-delay:2s}
.m-animationCloudBg i:nth-child(2){background:url(images/cloud2.png);top:100px;left:-50px;-webkit-animation:animationCloudBg 2s linear infinite;-webkit-animation-delay:1s}
.m-animationCloudBg i:nth-child(3){background:url(images/cloud3.png);top:150px;left:-0px;-webkit-animation:animationCloudBg 4s linear infinite;-webkit-animation-delay:0s}
.m-animationCloudBg i:nth-child(4){background:url(images/cloud4.png);top:200px;left:50px;-webkit-animation:animationCloudBg 2s linear infinite;-webkit-animation-delay:2s}
.m-animationCloudBg i:nth-child(5){background:url(images/cloud5.png);top:250px;left:-50px;-webkit-animation:animationCloudBg 1.2s linear infinite;-webkit-animation-delay:3s}
.m-animationCloudBg i:nth-child(6){background:url(images/cloud6.png);top:300px;left:20px;-webkit-animation:animationCloudBg 3s linear infinite;-webkit-animation-delay:1s}
.m-animationCloudBg i:nth-child(7){background:url(images/cloud1.png);top:350px;left:80px;-webkit-animation:animationCloudBg 4.5s linear infinite;-webkit-animation-delay:0s}
.m-animationCloudBg i:nth-child(8){background:url(images/cloud2.png);top:400px;left:-10px;-webkit-animation:animationCloudBg 2.8s linear infinite;-webkit-animation-delay:1s}
.m-animationCloudBg i:nth-child(9){background:url(images/cloud3.png);top:350px;left:80px;-webkit-animation:animationCloudBg 1.6s linear infinite;-webkit-animation-delay:2s}
.m-animationCloudBg i:nth-child(10){background:url(images/cloud4.png);top:20px;left:-100px;-webkit-animation:animationCloudBg 4s linear infinite;-webkit-animation-delay:1s}
.m-animationCloudBg i:nth-child(11){background:url(images/cloud5.png);top:60px;left:0;-webkit-animation:animationCloudBg 2.5s linear infinite;-webkit-animation-delay:2s}
.m-animationCloudBg i:nth-child(12){background:url(images/cloud6.png);top:0;left:-50px;-webkit-animation:animationCloudBg 3.2s linear infinite;-webkit-animation-delay:0s}

@-webkit-keyframes animationCloudBg{
	0%{-webkit-transform:scale(0.5) translate(-300px,300px) rotateX(0deg) rotateY(0deg);opacity:0}
	33%{-webkit-transform:scale(1) translate(-80px,80px) rotateX(20deg) rotateY(-20deg);opacity:1}
	66%{-webkit-transform:scale(1.5) translate(100px,-100px) rotateX(30deg) rotateY(-10deg);opacity:.8}
	100%{-webkit-transform:scale(1.8) translate(300px,-300px) rotateX(0deg) rotateY(0deg);opacity:.6}
}